{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Login </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"</head>
<style>
body{
    background-image:url(https://www.britishairways.com/assets/images/MediaHub/Media-Database/Royalty-free-RF/Destinations/Mauritius-MRU/185241201_1200x675.jpg);
    background-size:cover;
}
big{
    color: brown;
}
</style>
</head>
<div class="container" style="margin: 20px">
    <div class="row">
            <button class="btn btn-light btn-md"><a href="{% url 'index' %}" name='index'  title='index'>Home</a></button>
        </div>
    </div>
</div><br><br><br>
<body>
    <form method='POST'>
        {% csrf_token %}
        <div class='container' style="margin-top: 120px">
            <input class='form-control' type='text' name='username' placeholder=' Enter Username' required><br>
            <input class='form-control' type='password' name='password' placeholder=' Enter Password' required><br>
            <button class="btn btn-primary btn-sm" type="submit" title="submit">Login</button><br><br>
            <small style="color: beige">Not Regisered yet? <big><a href='register' name='register'  title='register'>Register</a></big>Here Now</small>
        </div>
    </form>
</body>
</html>