<head>
    <title> You are in </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
<body bgcolor=#CFD8DC>
<style>
body{
    background-image:url('https://image.shutterstock.com/image-vector/welcome-poster-spectrum-brush-strokes-260nw-1146069941.jpg');
    background-size:cover;
}
.jumbotron jumbotron-fluid{
    padding:0px 500px 0px 400px;
}
</style>

<div class="container">
  
    </li>
    <ul class="nav nav-tabs nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'index' %}">Home</a>
    </li>
  </ul>
</div>
<form action='logout'>
    <div class="alert alert-success">
        <strong>Successfully!</strong> Logged In.
    </div>
</form>
</body>